body{
    background-color: rgb(37, 36, 36);
    color: cyan;
}
.header h1.result{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: "Ubuntu",sans-serif;
    font-style: italic;
    font-size: 6rem;
    text-shadow: 3px 3px yellowgreen;
}
p.player{
    display: block;
    font-family: "Ubuntu",sans-serif;
    font-style: italic;
    font-size: 2rem;
    text-shadow: 1px 1px yellowgreen;
}

div.player_1{
    text-align: right;
    padding-right: 2.5%;
}
p.player_1{
    padding-right: 7%;
}
div.player_2{
    padding-left: 2.5%;
}
p.player_2{
    padding-left: 7%;
}
@media only screen and (max-width:576px)
{
    p.player_1, p.player_2{
        padding:0;
    }
    div.player_1, div.player_2{
        text-align: center;
    }
    div.player_2{
        padding-top: 50px;
    }
}
.dice{
    width: 200px;
}
.footer{
    text-align: center;
    padding-top: 50px;
    font-family: "Montserrat",sans-serif;
}